.ll-cursor-grow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    transform-origin: center;
}

.ll-cursor-grow::after {
    content: '';
    width: 2em;
    aspect-ratio: 1/1;
    background-color: white;
    position: absolute;
    border-radius: .4em;
    opacity: .2;
    animation: cursorGrowAnimation .25s ease-in;
}

@keyframes cursorGrowAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.ll-description-fade-in {
    opacity: 1;
}

.ll-text-effect-fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    animation-delay: 1s;
}

// .ll-animate-beat {
//     animation: beat 2.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
//     transform-origin: center;
// }

// @keyframes beat {
//     0%, 100% {
//         scale: 1;
//     }

//     50% {
//         scale: 1.2;
//     }
// }





