.ll-marquee > span {
    animation: marqueeAnimation linear 14s infinite;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

.ll-type-effect-fade-in {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.ll-chapter-description-fade-in {
    opacity: 1;
}