// TAILWIND CONFIG
@tailwind base;
@tailwind components;
@tailwind utilities;

// IMPORTING OTHER SCSS FILES
@import "./styles/cursor.scss";
@import "./styles/marquee.scss";

// FONT
@font-face {
    font-family: 'SuisseIntl-Light', sans-serif;
    src: url(./src/fonts/SuisseIntl-Light.woff);
}

// GENERAL STYLING
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SuisseIntl-Light';
}
